/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
html {
    font-size: 62.5%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

button {
    border: none;
    color: white;
    background-color: inherit;
}

h2 {
    font-size: 2.5rem;
}

li {
    list-style-type: none;
    line-height: 80px;
}

main > * {
    margin: 2rem 0;
}

section {
    padding: 2rem 2rem;
}


/* UTILITIES */
:root {
    --header-text-blue-col: #3982f5;
    --card-bg-col: #bddcfc;
    --bg-text-color-purple: #9692de;
    --golden-text: #f4c36f;
    --footer-bg-col: #333333;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.wrapper {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.column-direction {
    flex-direction: column;
}

.btn {
    border-radius: 20px;
    padding: .7rem 1.4rem; 
}

.col {
    border-radius: 35px;
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.col h2, h3, p {
    margin: 2rem 0;
}


/* HEADER */
header {
    background-color: var(--header-text-blue-col);
    height: 80px;
    display: flex;
    padding-right: 3rem;
}

header .header-logo {
    scale: 0.5;
    position: relative;
    left: -5%;
}

.menu {
    font-size: 2.5rem;
}

.navigation {
    display: none;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1.5rem;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation .start-btn {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: .6rem .9rem;
}

/* HEADER MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 767px) {
    header .header-logo {
        left: -3%;
    }
}

/* LAPTOP */
@media screen and (min-width: 991px) {
    .menu {
        display: none;
    }

    .navigation {
        display: flex;
    }
}


/* HERO */
.hero-col {
    background-color: var(--card-bg-col);
}

.jumbo {
    text-align: left;
    padding-bottom: 0;
}

/* .jumbo:first-child {
    padding-bottom: 2rem;
} */

.hero-col h3 {
    color: var(--header-text-blue-col);
    font-size: 2.3rem;
}

.hero-col p {
    font-weight: 800;
    color: lightslategrey;
    font-size: 1.5rem;
}

.hero-col img {
    margin-top: 2.5rem;
    display: block;
    max-height: 220px;
    /* position: relative;
    bottom: -23px; */
}

.hero-col i {
    color: var(--header-text-blue-col);
    font-size: 6rem;
    margin-top: 2rem;
}

.hero-col .btn {
    background-color: var(--header-text-blue-col);
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    padding: .6rem .9rem;
    text-decoration: none;
    margin-bottom: 3rem;
}

.jumbo-col i {
    font-size: initial;
    color: white;
    display: inline-block;
    margin-right: 1rem;
}


/* HERO MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 767px) {
    .hero .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: space-between;
    }
    
    .hero .col {
        width: 31%;
        margin: 0;
    }

    .hero .jumbo {
        width: 65.5%;
    }

    .hero .jumbo:nth-child(2) {
        align-self: end;
    }

    .hero-col img {
        width: 50%;
    }
}

/* LAPTOP */
@media screen and (min-width: 991px) {
    html {
        font-size: 55%;
    }

    .container {
        width: 60%;
    }

    .jumbo {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
    }

    .jumbo-col {
        width: 50%;
    }

    .hero-col img {
        bottom: -53px;
        width: 100%;
    }
}


/* FEATURES-1 SECTION */
.features-1 {
    background-color: var(--bg-text-color-purple);
}

.planning  {
    color: white;
}

.white-col {
    background-color: white;
}

.white-col i {
    background-color: var(--bg-text-color-purple);
    border-radius: 50%;
    padding: .9rem;
    width: 25px;
    height: 25px;
    font-weight: 800;
}

/* FEATURES-1 SECTION MEDIA QUERIES */
/* LAPTOP */
@media screen and (min-width: 991px) {
    .features-1 .container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

    .features-1 .container {
        width: 50%;
    }

    .features-1 .col {
        width: 48%;
    }

    .planning {
        text-align: left;
    }

    .planning p {
        margin-bottom: 0;
    }

    .planning img {
        margin-bottom: 12rem;
    }
}


/* TESTIMONIALS SECTION */
.testimonials .col-purple {
    background-color: var(--bg-text-color-purple);
    color: white;
}

.testimonials .col > p {
    margin-bottom: 0;
}

.testimonials h2 {
    color: var(--bg-text-color-purple);
    font-size: 3rem;
}

.testimonials span, p {
    font-weight: 800;
    font-size: 1.5rem;
}

.col-purple p {
    font-weight: 400;
}

.card-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/* TESTIMONIAL SECTION MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 767px) {
    .col-purple {
        display: flex;
        justify-content: space-around;
    }

    .card-img {
        width: 25%;
    }

    .card-content {
        width: 70%;
    }
}


/* FEATURES-2 SECTION */
.features-2 {
    background-color: var(--bg-text-color-purple);
    text-align: center;
    color: white;
}

.features-2 .col {
    text-align: left;
    background-color: white;
    color: var(--bg-text-color-purple);
    width: 100%;
}

/* FEATURES-2 SECTION MEDIA QUERIES */
/* TABLET */
@media screen and (min-width:767px) {
    .features-2 .col {
        width: 48%;
    }
}

/* LAPTOP */
@media screen and (min-width:991px) {
    .features-2 .col {
        width: 31%;
    }
}


/* ABOUT US SECTION */
.about-us .col {
    text-align: left;
}

/* ABOUT US SECTION MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 767px) {
    .about-us .container {
        display: flex;
    }

    .about-us .container .col-55 {
        width: 55%;
    }

    .about-us .container .col-40 {
        width: 40%;
    }
}

/* LAPTOP */
@media screen and (min-width: 767px) {
    .about-us .container .col-55 {
        width: 65%;
    }

    .about-us .container .col-40 {
        width: 30%;
    }
}


/* CALL TO ACTION SECTION */
.cta {
    text-align: center;
    background-color: var(--bg-text-color-purple);
    margin-bottom: 0;
}

/* MEDIA QUERIES FOR CTA */
/* LAPTOP */
@media screen and (min-width: 991px) {
    .cta .container {
        width: 30%;
    }
}


/* FOOTER */
footer {
    background-color: var(--footer-bg-col);
    text-align: center;
    color: white;
}

footer span {
    display: block;
    padding: 2rem 2rem;
}

/* MEDIA QUERIES FOR FOOTER */
/* TABLET */
@media screen and (min-width:767px) {
    footer .container {
        width: 50%;
    }
}

/* LAPTOP */
@media screen and (min-width:991px) {
    footer .container {
        width: 25%;
    }
}