/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
html {
    font-size: 62.5%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

button {
    border: none;
    color: white;
    background-color: inherit;
}

li {
    list-style-type: none;
    line-height: 80px;
}

main > * {
    margin: 2rem 0;
}

section {
    padding: 2rem 2rem;
}


/* UTILITIES */
:root {
    --header-text-blue-col: #3982f5;
    --card-bg-col: #bddcfc;
    --bg-text-color-purple: #9692de;
    --golden-text: #f4c36f;
    --footer-bg-col: #333333;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.wrapper {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.column-direction {
    flex-direction: column;
}

.btn {
    border-radius: 20px;
    padding: .7rem 1.4rem; 
}

.col {
    border-radius: 35px;
    padding: 2rem;
    margin: 2rem 0;
    text-align: center;
}

.col h2, h3, p {
    margin: 2rem 0;
}


/* HEADER */
header {
    background-color: var(--header-text-blue-col);
    height: 80px;
    display: flex;
    padding-right: 3rem;
}

header .header-logo {
    scale: 0.5;
    position: relative;
    left: -5%;
}

.menu {
    font-size: 2.5rem;
}

.navigation {
    display: none;
    font-size: 1.5rem;
    font-weight: 400;
    gap: 1.5rem;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.navigation .start-btn {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: .6rem .9rem;
}

/* HEADER MEDIA QUERIES */
@media screen and (min-width: 767px) {
    header .header-logo {
        left: -3%;
    }
}

@media screen and (min-width: 991px) {
    .menu {
        display: none;
    }

    .navigation {
        display: flex;
    }
}


/* HERO */
.hero-col {
    background-color: var(--card-bg-col);
}

.jumbo {
    text-align: left;
}

.hero-col h3 {
    color: var(--header-text-blue-col);
    font-size: 2.3rem;
}

.hero-col p {
    font-weight: 800;
    color: lightslategrey;
    font-size: 1.5rem;
}

.hero-col img {
    position: relative;
    bottom: -23px;
}

.hero-col .btn {
    background-color: var(--header-text-blue-col);
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
    padding: .7rem 3.5rem;
    text-decoration: none;
}

.hero-col i {
    display: inline-block;
    margin-right: 1rem;
}


/* HERO MEDIA QUERIES */
/* TABLET */
@media screen and (min-width: 767px) {
    .hero .row {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        justify-content: space-between;
    }
    
    .hero .col {
        width: 31%;
        margin: 0;
    }

    .hero .jumbo {
        width: 66%;
    }

}

/* LAPTOP */
@media screen and (min-width: 991px) {
    html {
        font-size: 55%;
    }
    .container {
        width: 60%;
    }

    .jumbo {
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
    }

    .jumbo-col {
        width: 50%;
    }

    .hero-col img {
        bottom: -47px;
    }
}


/* FEATURES-1 SECTION */
.features-1 {
    background-color: var(--bg-text-color-purple);
}

.white-col {
    background-color: white;
    /* margin: 2rem; */
}

/* FEATURES-1 SECTION MEDIA QUERIES */
@media screen and (min-width: 991px) {

    .features-1 {
        display: flex;
    }
}


/* TESTIMONIALS SECTION */
.testimonials .col-purple {
    background-color: var(--bg-text-color-purple);
}